body{
    margin: 0;
}

.resume-wrapper{
    background-color: #e7dfe7;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

.resume-header{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #11AB75;
    height: 300px; 
    width: 100vw;
    color: white;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    box-sizing: border-box;
}

.resume-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.fa{
    padding: 2px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: none;
    color: white;
 }

.title-h3{
    text-align: left;
    color: #11AB75;
    font-weight: 900;
}

.title-h2{
    text-align: center;
    color: #11AB75;
    font-weight: bold;
    padding: 40px;
}

.title-h4{
    font-weight: bold;
}

.box5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 70%;
    margin:-100px auto 0 auto;
    height: 500px;
}

.box-photo{
    width: 30%;
    margin: none;
    padding: none;
    border: none;
    background-image: url('../photos/fotobruna.jpg'); 
    background-size: cover;
    height: 500px;
}

.box4{
    background-color: white;
    color: black;
    width: 70%;
    margin: none;
    padding: none;
    border: none;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons{
    background-color: #11AB75;
    padding: 18px;
}

.data1{
    padding: 20px;
}

.data2{
    display: flex;
    flex-direction: row;
}

.questions{
    font-weight: bold;
    list-style: none;
    text-align: left;
    line-height: 1.5;
}

.answers{
    list-style: none;
    text-align: left;
    line-height: 1.5;
}

.box1{  
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    color: black;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    border: none;
}

.box2{  
    color: black;
    width: 50%;
    height: 300px;
    margin: 20px;
    padding: 30px;
    border: none;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 3;
}

.description{
    list-style: none;
}

.box3{
    display: flex;
    flex-direction: column;
    color: black;
    width: 50%;
    height: 300px;
    margin: 20px;
    padding: 30px;
    border: none;
}

.label{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-weight: 20px;
}